
* {
  box-sizing: border-box;
}

body{
	color: black; 
}

.row {
  margin-bottom: 15px;
  margin: 30px;
}
.row > div {
  border: 0px;
  background-color: gray;
}

#Chicken{ 
	font-size: 1.8em; 
	display: block;
	position: relative;
	top:5px;
}

.navbar, .navbar-default{
	background-color: gray; 
	border-radius: 0px; 
	border:3px solid black;
	border-left: 0px;
	border-right: 0px;  
}

.icon-bar,  button.navbar-toggle, .collapsed,.navbar-default .navbar-toggle {
	border: 2px solid black;
	background-color: transparent;
} 

.navbar-brand>span{
	position: absolute;
	left: 20px;
	font-size: 1.5em;
	color: black;
}

.row p{
	margin-top: 10px;
} 

@media (max-width: 767px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top: 2px solid black;
	}
	.nav, .navbar-nav, .collapse, .navbar-collapse, .navbar-toggle, .collapsed{
		background-color: white;
	} 
	hr{
		border-top: 2px solid black;
		margin: 0px;
	}
	.nav, .navbar-nav{
		margin-top: 0px;
	}
	ul span{
		padding: 5px 0px;
		font-size: 1.5em;
	}
}
}

